<mat-card>
  <mat-card-title data-cy="order-details-title">
    <span *ngIf="currentOrder.id; else elseBlock">
      Editing {{ originalTitle }}
    </span>
    <ng-template #elseBlock> Select Order </ng-template>
  </mat-card-title>
  <form #form="ngForm" (submit)="saved.emit(currentOrder)" data-cy="order-form">
    <mat-card-content>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Title"
          data-cy="order-form-title"
          [(ngModel)]="currentOrder.title"
          type="text"
          name="title"
          required
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Description"
          data-cy="order-form-description"
          [(ngModel)]="currentOrder.description"
          type="text"
          name="description"
          required
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Select a Customer</mat-label>
        <mat-select
          [(ngModel)]="currentOrder.customerId"
          data-cy="order-form-customer"
          required="false"
          name="customerId"
        >
          <mat-option *ngFor="let customer of customers" [value]="customer.id">
            {{ customer.firstName }} {{ customer.lastName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        [disabled]="form.invalid"
        type="submit"
        mat-button
        color="primary"
        data-cy="order-form-save"
      >
        Save
      </button>
      <button
        type="button"
        mat-button
        (click)="form.reset(); cancelled.emit()"
        data-cy="order-form-cancel"
      >
        Cancel
      </button>
    </mat-card-actions>
  </form>
</mat-card>
