<div class="home-container" data-cy="home-customer-cards">
  <mat-card
    *ngFor="let customer of customerOrders$ | async"
    attr.data-cy="home-customer-{{ customer.id }}-card"
  >
    <mat-card-header>
      <mat-card-title attr.data-cy="home-customer-{{ customer.id }}-title">
        {{ customer.firstName }} {{ customer.lastName }}
      </mat-card-title>
      <mat-card-subtitle>{{ customer.title }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="customer.orders?.length; else noOrders">
      <bba-orders-list
        attr.data-cy="home-customer-{{ customer.id }}-orders"
        [orders]="customer.orders"
        [readonly]="true"
      >
      </bba-orders-list>
    </mat-card-content>
    <ng-template #noOrders> No Orders </ng-template>
  </mat-card>
</div>
